body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    padding: 0;
}

header {
    background-color: #7d94b5;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.partner-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.partner-card {
    /* flex: 1 0 25%; */
    padding: 10px;
    margin: 30px 20px 10px 20px; /* Adjusted margin for left spacing */
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #aaa;
}

.partner-card h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.partner-type {
    color: #7d94b5;
    font-size: 18px;
}

.partner-location {
    font-size: 18px;
}

.apply-button {
    background-color: #7d94b5;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: larger;
}

@media (max-width: 768px) {
    .partner-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .partner-list-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Styles for the username display */
#username-display {
    margin: 10px;

    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    float: right;   
    color: white;
}

footer {
    background-color: #7d94b5;
    color: white;
    text-align: center;
    margin: 40px 0 0 0;
    padding: 10px;
}

/* Style the "Add Info" tab */
#add-info-tab {
    display: none; /* Initially hidden */
}

/* Style the "Add Info" section */
#add-info-section {
    display: none; /* Initially hidden */
    margin-top: 20px; /* Adjust margin as needed */
}


.partner-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #45a049;
}
